/* Announcement Advisories Memorandum */

.technology {
    /* padding: 1rem 7%;     */
    padding: 4rem 5%;
    /* default padding: 10 rem */
    position: relative;
    top: 50px;
    /* value before is 40px*/
    background-color: rgb(255, 255, 255);
}

.tech-border {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.tech-announcement {
    flex: 1 1 300px;
    padding: 1rem 2rem;
    /* padding: 3rem 3rem; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.tech-announcement h1 {
    color: white;
    background-color: lightskyblue;
    padding-left: 20px;
    text-shadow: 0px 1px 2px #3d3d3d;
}

.tech-announcement ul li a {
    color: rgb(83, 82, 82);
    text-decoration: none;
}

.main-technology {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.technology .about-heading {
    padding-top: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    /* color: var(--maincolor); */
    /* border-bottom: 2px solid var(--secondcolor); */
    /*
    removed syntax
    margin: 0 auto; padding: 2rem 0; width: 1000px; */
    font-size: 40px;
    color: black;
    padding-bottom: 1rem;
    /* padding-bottom: 3rem; */
    text-align: center;
}

.inner-technology {
    flex: 1 1 300px;
    padding: 2rem 1rem;
    /* padding: 3rem 3rem; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-image: url(images/backgroung-pattern-1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
    padding-top: 0;
    /*newly added syntax: padding*/
}

.inner-technology h2 {
    text-align: center;
}

.inner-technology span {
    width: 0;
    height: 100%;
    /* background-color: var(--maincolor); */
    background-color: lightskyblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}


/* .inner-technology .FAO195TVA, 
.inner-technology .FAO259TVA {
    font-weight: bold;
    font-size: 40px;
    padding: 5rem 25%;
} */

.inner-technology:hover span {
    width: 100%;
}

.inner-technology-table-content {
    padding: 0;
}

.inner-technology:hover i {
    color: white;
}

.inner-technology:hover h2 {
    color: white;
}

.inner-technology:hover p {
    color: white;
}

.inner-technology i {
    font-size: 48px;
    color: var(--maincolor);
}

.inner-technology h2 {
    font-size: 2.5rem;
    padding: 1rem 0;
}

.inner-technology p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}